<html ng-app="nameApp">
  <head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="app.js" type="text/javascript" charset="utf-8"></script>
    <script src="controller.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body ng-controller="NameCtrl">
    <form ng-submit="addName()" action="" method="post">
      <input ng-model="enteredName" type=text" name="" id="" value="" />
      <input type="submit" name="" id="" value="add" />
      <p ng-repeat="name in names">{{name}}
      <a ng-click="removeName(name)" href="#">Remove</a>
      </p>
    </form>
  </body>
</html>
